<h2 class="fs-title">JOB INFO</h2>
<h3 class="fs-subtitle">Job related Info</h3>
    {{ experience.management_form }}
    {% for form in experience %}
<div class="fieldWrapper">
{{ form.place.errors }}
<label for="{{ form.place.id_for_label }}">experience:</label>
    {{ form.place }}
</div>
<div class="fieldWrapper">
{{ form.position1_name.errors }}
<label for="{{ form.position1_name.id_for_label }}">experience:</label>
    {{ form.position1_name }}
</div>
<div class="fieldWrapper">
{{ form.position1_from_date.errors }}
<label for="{{ form.position1_from_date.id_for_label }}">experience:</label>
    {{ form.position1_from_date }}
</div>
<div class="fieldWrapper">
{{ form.position1_to_date.errors }}
<label for="{{ form.position1_to_date.id_for_label }}">experience:</label>
    {{ form.position1_to_date }}
</div>
<div class="fieldWrapper">
{{ form.position2_name.errors }}
<label for="{{ form.position2_name.id_for_label }}">experience:</label>
    {{ form.position2_name }}
</div>
<div class="fieldWrapper">
{{ form.position2_from_date.errors }}
<label for="{{ form.position2_from_date.id_for_label }}">experience:</label>
    {{ form.position2_from_date }}
</div>
<div class="fieldWrapper">
{{ form.position2_to_date.errors }}
<label for="{{ form.position2_to_date.id_for_label }}">experience:</label>
    {{ form.position2_to_date }}
</div>
<div class="fieldWrapper">
{{ form.position3_name.errors }}
<label for="{{ form.position3_name.id_for_label }}">experience:</label>
    {{ form.position3_name }}
</div>
<div class="fieldWrapper">
{{ form.position3_from_date.errors }}
<label for="{{ form.position3_from_date.id_for_label }}">experience:</label>
    {{ form.position3_from_date }}
</div>
<div class="fieldWrapper">
{{ form.position3_to_date.errors }}
<label for="{{ form.position3_to_date.id_for_label }}">experience:</label>
    {{ form.position3_to_date }}
</div>
<div class="fieldWrapper">
{{ form.resp_desc.errors }}
<label for="{{ form.resp_desc.id_for_label }}">experience:</label>
    {{ form.resp_desc }}
</div>
<div class="fieldWrapper">
{{ form.join_date.errors }}
<label for="{{ form.join_date.id_for_label }}">experience:</label>
    {{ form.join_date }}
</div>
<div class="fieldWrapper">
{{ form.end_date.errors }}
<label for="{{ form.end_date.id_for_label }}">experience:</label>
    {{ form.end_date }}
</div>
<div class="fieldWrapper">
{{ form.salary_begin.errors }}
<label for="{{ form.salary_begin.id_for_label }}">experience:</label>
    {{ form.salary_begin }}
</div>
<div class="fieldWrapper">
{{ form.salary_end.errors }}
<label for="{{ form.salary_end.id_for_label }}">experience:</label>
    {{ form.salary_end }}
</div>
<div class="fieldWrapper">
{{ form.allowance.errors }}
<label for="{{ form.allowance.id_for_label }}">experience:</label>
    {{ form.allowance }}
</div>
<div class="fieldWrapper">
{{ form.last_supervison.errors }}
<label for="{{ form.last_supervison.id_for_label }}">experience:</label>
    {{ form.last_supervison }}
</div>
<div class="fieldWrapper">
{{ form.last_supervison_phone.errors }}
<label for="{{ form.last_supervison_phone.id_for_label }}">experience:</label>
    {{ form.last_supervison_phone }}
</div>
<div class="fieldWrapper">
{{ form.end_service_reason.errors }}
<label for="{{ form.end_service_reason.id_for_label }}">experience:</label>
    {{ form.end_service_reason }}
</div>
	{% endfor %}
<input class="previous action-button-previous" name="previous" type="button" value="Previous"/>
<input class="next action-button" name="next" type="button" value="Next"/>

