<h2 class="fs-title">JOB INFO</h2>
<h3 class="fs-subtitle">Job related Info</h3>
    {{ dlicense.management_form }}
    {% for form in dlicense %}
<div class="fieldWrapper">
{{ form.driving_license.errors }}
<label for="{{ form.driving_license.id_for_label }}">driving_license:</label>
    {{ form.driving_license }}
</div>
<div class="fieldWrapper">
{{ form.driving_license_active.errors }}
<label for="{{ form.driving_license_active.id_for_label }}">driving_license_active:</label>
    {{ form.driving_license_active }}
</div>
	{% endfor %}
<input class="previous action-button-previous" name="previous" type="button" value="Previous"/>
<input class="next action-button" name="next" type="button" value="Next"/>

