<h2 class="fs-title">Computer & internet</h2>
<h3 class="fs-subtitle">Job related Info</h3>
    {{ computer.management_form }}
    {% for form in computer %}
<div class="fieldWrapper" col-md-12>
{{ form.computer_knowledge.errors }}
<label for="{{ form.computer_knowledge.id_for_label }}">computer_knowledge:</label>
    {{ form.computer_knowledge }}
</div>
<div class="fieldWrapper">
{{ form.internet_knowledge.errors }}
<label for="{{ form.internet_knowledge.id_for_label }}">internet_knowledge:</label>
    {{ form.internet_knowledge }}
</div>
	{% endfor %}
<input class="previous action-button-previous" name="previous" type="button" value="Previous"/>
<input class="next action-button" name="next" type="button" value="Next"/>

