<h2 class="fs-title">JOB INFO</h2>
<h3 class="fs-subtitle">Job related Info</h3>
    {{ job.management_form }}
    {% for form in job %}
<div class="fieldWrapper col-md-6" >
{{ form.job_fit_name.errors }}
<label class="col-md-3"   for="{{ form.job_fit_name.id_for_label }}">job_fit_name:</label>
    {{ form.job_fit_name }}
</div>
<div class="fieldWrapper col-md-6" >
{{ form.job_know_channel.errors }}
<label class="col-md-3"   for="{{ form.job_know_channel.id_for_label }}">job_know_channel:</label>
    {{ form.job_know_channel }}
</div>
<div class="fieldWrapper col-md-6" >
{{ form.job_salary_exp.errors }}
<label class="col-md-3"   for="{{ form.job_salary_exp.id_for_label }}">job_salary_exp:</label>
    {{ form.job_salary_exp }}
</div>
<div class="fieldWrapper col-md-6" >
{{ form.job_favorite_hours.errors }}
<label class="col-md-3"   for="{{ form.job_favorite_hours.id_for_label }}">job_favorite_hours:</label>
    {{ form.job_favorite_hours }}
</div>
<div class="fieldWrapper col-md-6" >
{{ form.job_non_announcement.errors }}
<label class="col-md-3"   for="{{ form.job_non_announcement.id_for_label }}">job_non_announcement:</label>
    {{ form.job_non_announcement }}
</div>
<div class="fieldWrapper col-md-6" >
{{ form.job_least_income.errors }}
<label class="col-md-3"   for="{{ form.job_least_income.id_for_label }}">job_least_income:</label>
    {{ form.job_least_income }}
</div>
<div class="fieldWrapper col-md-6" >
{{ form.job_in_bank_relat.errors }}
<label class="col-md-3"   for="{{ form.job_in_bank_relat.id_for_label }}">job_in_bank_relat:</label>
    {{ form.job_in_bank_relat }}
</div>
<div class="fieldWrapper col-md-6" >
{{ form.job_out_bank_relat.errors }}
<label class="col-md-3"   for="{{ form.job_out_bank_relat.id_for_label }}">job_out_bank_relat:</label>
    {{ form.job_out_bank_relat }}
</div>
  {% endfor %}
<input class="previous action-button-previous" name="previous" type="button" value="Previous"/>
<input class="next action-button" name="next" type="button" value="Next"/>

