<h2 class="fs-title">Personal Details</h2>
<h3 class="fs-subtitle">Tell us something more about you</h3>
<div class="fieldWrapper  col-md-6 col-lg-6 col-sm-6" >
{{ form.first_name.errors }}
<label class="col-md-3"   for="{{ form.first_name.id_for_label }}">First Name:</label>
    {{ form.first_name }}
</div>
<div class="fieldWrapper col-md-6 col-lg-6 col-sm-6">
    {{ form.father_name.errors }}
    <label class="col-md-3"   for="{{ form.father_name.id_for_label }}">Father Name:</label>
    {{ form.father_name }}
</div>
<div class="fieldWrapper  col-md-6 col-lg-6 col-sm-6" >
    {{ form.grandfather_name.errors }}
    <label class="col-md-3"   for="{{ form.grandfather_name.id_for_label }}">G.Father Name:</label>
    {{ form.grandfather_name }}
</div>
<div class="fieldWrapper  col-md-6 col-lg-6 col-sm-6" >
    {{ form.surname.errors }}
    <label class="col-md-3"   for="{{ form.surname.id_for_label }}">Surname:</label>
    {{ form.surname }}
</div>
<div class="fieldWrapper  col-md-6 col-lg-6 col-sm-6" >
{{ form.birth_date.errors }}
<label class="col-md-3"   for="{{ form.birth_date.id_for_label }}">birth_date:</label>
    {{ form.birth_date }}
</div>
<div class="fieldWrapper  col-md-6 col-lg-6 col-sm-6" >
{{ form.nationality.errors }}
<label class="col-md-3"   for="{{ form.nationality.id_for_label }}">nationality:</label>
    {{ form.nationality }}
</div>
<div class="fieldWrapper  col-md-6 col-lg-6 col-sm-6" >
{{ form.blood_type.errors }}
<label class="col-md-3"   for="{{ form.blood_type.id_for_label }}">blood_group:</label>
    {{ form.blood_type }}
</div>
<div class="fieldWrapper  col-md-6 col-lg-6 col-sm-6" >
{{ form.father_birth_place.errors }}
<label class="col-md-3"   for="{{ form.father_birth_place.id_for_label }}">father_birth_place:</label>
    {{ form.father_birth_place }}
</div>
<div class="fieldWrapper  col-md-6 col-lg-6 col-sm-6" >
{{ form.ID_type.errors }}
<label class="col-md-3"   for="{{ form.ID_type.id_for_label }}">ID_type:</label>
    {{ form.ID_type }}
</div>
<div class="fieldWrapper  col-md-6 col-lg-6 col-sm-6" >
{{ form.ID_issued_from.errors }}
<label class="col-md-3"   for="{{ form.ID_issued_from.id_for_label }}">ID_issued_from:</label>
    {{ form.ID_issued_from }}
</div>
<div class="fieldWrapper  col-md-6 col-lg-6 col-sm-6" >
{{ form.ID_number.errors }}
<label class="col-md-3"   for="{{ form.ID_number.id_for_label }}">ID_number:</label>
    {{ form.ID_number }}
</div>
<div class="fieldWrapper  col-md-6 col-lg-6 col-sm-6" >
{{ form.ID_issue_date.errors }}
<label class="col-md-3"   for="{{ form.ID_issue_date.id_for_label }}">ID_issue_date:</label>
    {{ form.ID_issue_date }}
</div>
<div class="fieldWrapper  col-md-6 col-lg-6 col-sm-6" >
{{ form.marital_status.errors }}
<label class="col-md-3"   for="{{ form.marital_status.id_for_label }}">marital_status:</label>
    {{ form.marital_status }}
</div>
<div class="fieldWrapper  col-md-6 col-lg-6 col-sm-6" >
{{ form.childs_number.errors }}
<label class="col-md-3"   for="{{ form.childs_number.id_for_label }}">childs_number:</label>
    {{ form.childs_number }}
</div>
<div class="fieldWrapper  col-md-6 col-lg-6 col-sm-6" >
{{ form.mobile.errors }}
<label class="col-md-3"   for="{{ form.mobile.id_for_label }}">mobile:</label>
    {{ form.mobile }}
</div>
<div class="fieldWrapper  col-md-6 col-lg-6 col-sm-6" >
{{ form.mobile_other.errors }}
<label class="col-md-3"   for="{{ form.mobile_other.id_for_label }}">mobile_other:</label>
    {{ form.mobile_other }}
</div>
<div class="fieldWrapper  col-md-6 col-lg-6 col-sm-6" >
{{ form.email.errors }}
<label class="col-md-3"   for="{{ form.email.id_for_label }}">email:</label>
    {{ form.email }}
</div>
<div class="fieldWrapper  col-md-6 col-lg-6 col-sm-6" >
{{ form.email_other.errors }}
<label class="col-md-3"   for="{{ form.email_other.id_for_label }}">email_other:</label>
    {{ form.email_other }}
</div>
<div class="fieldWrapper " >
{{ form.Hobbies.errors }}
<label class="col-md-3"   for="{{ form.Hobbies.id_for_label }}">Hobbies:</label>
    {{ form.Hobbies }}
</div>
<div class="fieldWrapper  col-md-6 col-lg-6 col-sm-6" >
{{ form.residence_place.errors }}
<label class="col-md-3"   for="{{ form.residence_place.id_for_label }}">residence_place:</label>
    {{ form.residence_place }}
</div>
<div class="fieldWrapper  col-md-6 col-lg-6 col-sm-6" >
{{ form.residence_city.errors }}
<label class="col-md-3"   for="{{ form.residence_city.id_for_label }}">residence_city:</label>
    {{ form.residence_city }}
</div>
<div class="fieldWrapper  col-md-6 col-lg-6 col-sm-6" >
{{ form.residence_district.errors }}
<label class="col-md-3"   for="{{ form.residence_district.id_for_label }}">residence_district:</label>
    {{ form.residence_district }}
</div>
<div class="fieldWrapper  col-md-6 col-lg-6 col-sm-6" >
{{ form.residence_street.errors }}
<label class="col-md-3"   for="{{ form.residence_street.id_for_label }}">residence_street:</label>
    {{ form.residence_street }}
</div>
<div class="fieldWrapper  col-md-6 col-lg-6 col-sm-6" >
{{ form.home_phone.errors }}
<label class="col-md-3"   for="{{ form.home_phone.id_for_label }}">home_phone:</label>
    {{ form.home_phone }}
</div>
<div class="fieldWrapper  col-md-6 col-lg-6 col-sm-6" >
{{ form.whatsapp.errors }}
<label class="col-md-3"   for="{{ form.whatsapp.id_for_label }}">whatsapp:</label>
    {{ form.whatsapp }}
</div>
<div class="fieldWrapper  col-md-6 col-lg-6 col-sm-6" >
{{ form.telegram.errors }}
<label class="col-md-3"   for="{{ form.telegram.id_for_label }}">telegram:</label>
    {{ form.telegram }}
</div>

    {{ contact.management_form }}
    {% for form in contact %}
<div class="fieldWrapper  col-md-6 col-lg-6 col-sm-6" >
{{ form.close_contacts_Name.errors }}
<label class="col-md-3"   for="{{ form.close_contacts_Name.id_for_label }}">close_contacts_Name:</label>
    {{ form.close_contacts_Name }}
</div>
<div class="fieldWrapper  col-md-6 col-lg-6 col-sm-6" >
{{ form.close_contacts_residence_place.errors }}
<label class="col-md-3"   for="{{ form.close_contacts_residence_place.id_for_label }}">close_contacts_residence_place:</label>
    {{ form.close_contacts_residence_place }}
</div>
<div class="fieldWrapper  col-md-6 col-lg-6 col-sm-6" >
{{ form.close_contacts_relation.errors }}
<label class="col-md-3"   for="{{ form.close_contacts_relation.id_for_label }}">close_contacts_relation:</label>
    {{ form.close_contacts_relation  }}
</div>
<div class="fieldWrapper  col-md-6 col-lg-6 col-sm-6" >
{{ form.close_contacts_phone.errors }}
<label class="col-md-3"   for="{{ form.close_contacts_phone.id_for_label }}">close_contacts_phone:</label>
    {{ form.close_contacts_phone }}
</div>
<div class="fieldWrapper  col-md-6 col-lg-6 col-sm-6" >
{{ form.close_contacts_other_phone.errors }}
<label class="col-md-3"   for="{{ form.close_contacts_other_phone.id_for_label }}">close_contacts_other_phone:</label>
    {{ form.close_contacts_other_phone }}
</div>
<div class="fieldWrapper  col-md-6 col-lg-6 col-sm-6" >
{{ form.close_contacts_job.errors }}
<label class="col-md-3"   for="{{ form.close_contacts_job.id_for_label }}">close_contacts_job:</label>
    {{ form.close_contacts_job }}
</div>
<div class="fieldWrapper  col-md-6 col-lg-6 col-sm-6" >
{{ form.close_contacts_work_address.errors }}
<label class="col-md-3"   for="{{ form.close_contacts_work_address.id_for_label }}">close_contacts_work_address:</label>
    {{ form.close_contacts_work_address }}
</div>
<div></div>
  {% endfor %}
<input class="next action-button" name="next" type="button" value="Next"/>

