<h2 class="fs-title">Certificates</h2>
<h3 class="fs-subtitle">Job related Info</h3>
    {{ course.management_form }}
    {% for form in course %}
<div class="fieldWrapper">
{{ form.courses_1.errors }}
<label for="{{ form.courses_1.id_for_label }}">courses_1:</label>
    {{ form.courses_1 }}
</div>
<div class="fieldWrapper">
{{ form.courses_2.errors }}
<label for="{{ form.courses_2.id_for_label }}">courses_2:</label>
    {{ form.courses_2 }}
</div>
<div class="fieldWrapper">
{{ form.courses_3.errors }}
<label for="{{ form.courses_3.id_for_label }}">courses_3:</label>
    {{ form.courses_3 }}
</div>
<div class="fieldWrapper">
{{ form.courses_4.errors }}
<label for="{{ form.courses_4.id_for_label }}">courses_4:</label>
    {{ form.courses_4 }}
</div>
	{% endfor %}
<input class="previous action-button-previous" name="previous" type="button" value="Previous"/>
<input class="next action-button" name="next" type="button" value="Next"/>

