<h2 class="fs-title">JOB INFO</h2>
<h3 class="fs-subtitle">Job related Info</h3>
    {{ inqueries.management_form }}
    {% for form in inqueries %}
<div class="fieldWrapper">
{{ form.inq_loan.errors }}
<label for="{{ form.inq_loan.id_for_label }}">inq_loan:</label>
    {{ form.inq_loan }}
</div>
<div class="fieldWrapper">
{{ form.inq_training.errors }}
<label for="{{ form.inq_training.id_for_label }}">inq_training:</label>
    {{ form.inq_training }}
</div>
<div class="fieldWrapper">
{{ form.inq_training_detail.errors }}
<label for="{{ form.inq_training_detail.id_for_label }}">inq_training_detail:</label>
    {{ form.inq_training_detail }}
</div>
<div class="fieldWrapper">
{{ form.inq_long_term_disease.errors }}
<label for="{{ form.inq_long_term_disease.id_for_label }}">inq_long_term_disease:</label>
    {{ form.inq_long_term_disease }}
</div>
<div class="fieldWrapper">
{{ form.inq_surgery.errors }}
<label for="{{ form.inq_surgery.id_for_label }}">inq_surgery:</label>
    {{ form.inq_surgery }}
</div>
<div class="fieldWrapper">
{{ form.inq_cust_contact.errors }}
<label for="{{ form.inq_cust_contact.id_for_label }}">inq_cust_contact:</label>
    {{ form.inq_cust_contact }}
</div>
<div class="fieldWrapper">
{{ form.inq_favor_w_place.errors }}
<label for="{{ form.inq_favor_w_place.id_for_label }}">inq_favor_w_place:</label>
    {{ form.inq_favor_w_place }}
</div>
<div class="fieldWrapper">
{{ form.inq_accept_w_place.errors }}
<label for="{{ form.inq_accept_w_place.id_for_label }}">inq_accept_w_place:</label>
    {{ form.inq_accept_w_place }}
</div>
<div class="fieldWrapper">
{{ form.inq_explain.errors }}
<label for="{{ form.inq_explain.id_for_label }}">inq_explain:</label>
    {{ form.inq_explain }}
</div>
	{% endfor %}
<input class="previous action-button-previous" name="previous" type="button" value="Previous"/>
<!--input  class="submit action-button" name="submit" type="submit" value="save"/!-->
<!--button type="button" id="search_data" class="btn btn-primary">Search</button-->
<input type="submit"  class="submit action-button" name="submit" value="Save">
