<h2 class="fs-title">Qualification</h2>
<h3 class="fs-subtitle">QualificationInfo</h3>
    {{ qualification.management_form }}
    {% for form in qualification %}
<div class="fieldWrapper col-md-12" >
{{ form.clfy_secondary.errors }}
<label class="col-md-3"  for="{{ form.clfy_secondary.id_for_label }}">clfy_secondary:</label>
    {{ form.clfy_secondary }}
</div>
<div class="fieldWrapper col-md-12" >
{{ form.clfy_inter_diplom.errors }}
<label class="col-md-3"  for="{{ form.clfy_inter_diplom.id_for_label }}">clfy_inter_diplom:</label>
    {{ form.clfy_inter_diplom }}
</div>
<div class="fieldWrapper col-md-12" >
{{ form.clfy_bechalore.errors }}
<label class="col-md-3"  for="{{ form.clfy_bechalore.id_for_label }}">clfy_bechalore:</label>
    {{ form.clfy_bechalore }}
</div>
<div class="fieldWrapper col-md-12" >
{{ form.clfy_high_diplom.errors }}
<label class="col-md-3"  for="{{ form.clfy_high_diplom.id_for_label }}">clfy_high_diplom:</label>
    {{ form.clfy_high_diplom }}
</div>
<div class="fieldWrapper col-md-12" >
{{ form.clfy_master.errors }}
<label class="col-md-3"  for="{{ form.clfy_master.id_for_label }}">clfy_master:</label>
    {{ form.clfy_master }}
</div>
<div class="fieldWrapper col-md-12" >
{{ form.clfy_phd.errors }}
<label class="col-md-3"  for="{{ form.clfy_phd.id_for_label }}">clfy_phd:</label>
    {{ form.clfy_phd }}
</div>
<div class="fieldWrapper col-md-12" >
{{ form.clfy_other.errors }}
<label class="col-md-3"  for="{{ form.clfy_other.id_for_label }}">clfy_other:</label>
    {{ form.clfy_other }}
</div>
 {% endfor %}
<input class="previous action-button-previous" name="previous" type="button" value="Previous"/>
<input class="next action-button" name="next" type="button" value="Next"/>

